@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/sourcesanspro/sourcesanspro-light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro/sourcesanspro.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro/sourcesanspro-bold.woff') format('woff');
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1459141218'); /* IE9*/
  src: url('iconfont.eot?t=1459141218#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1459141218') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1459141218') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1459141218#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-windfengsu:before { content: "\e61d"; }
.icon-tornadoshachenbao:before { content: "\e61b"; }
.icon-umbrellashidu:before { content: "\e61c"; }
.icon-thermometer:before { content: "\e61a"; }
.icon-thermometerzero:before { content: "\e619"; }
.icon-thermometer100:before { content: "\e618"; }
.icon-thermometer50:before { content: "\e616"; }
.icon-thermometer25:before { content: "\e615"; }
.icon-thermometer75:before { content: "\e617"; }
.icon-sunqing:before { content: "\e614"; }
.icon-degreesfahrenheit:before { content: "\e613"; }
.icon-degreescelcius:before { content: "\e612"; }
.icon-cloudsnowxue:before { content: "\e610"; }
.icon-clouduploadshangchuan:before { content: "\e611"; }
.icon-cloudrefreshgengxin:before { content: "\e60f"; }
.icon-cloudmai:before { content: "\e60e"; }
.icon-clouddownloadxiazai:before { content: "\e60c"; }
.icon-clouddrizzleyu:before { content: "\e60d"; }
@font-face {font-family: "ico-family";
  src: url('../fonts/icons/iconfont.eot?t=1461829394'); /* IE9*/
  src: url('../fonts/icons/iconfont.eot?t=1461829394#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/icons/iconfont.woff?t=1461829394') format('woff'), /* chrome, firefox */
  url('../fonts/icons/iconfont.ttf?t=1461829394') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/icons/iconfont.svg?t=1461829394#ico-family') format('svg'); /* iOS 4.1- */
}

.ico-family {
  font-family:"ico-family" !important;
  font-size:inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ico-search:before { content: "\e614"; }
.ico-home:before { content: "\e605"; }
.ico-temperature:before { content: "\e610"; }
.ico-user-person:before { content: "\e600"; }
.ico-service-tel:before { content: "\e601"; }
.ico-demo-power:before { content: "\e606"; }
.ico-active-right:before { content: "\e604"; }
.ico-weather-sun:before { content: "\e607"; }
.ico-rank:before { content: "\e613"; }
.ico-user-company:before { content: "\e602"; }
.ico-humidity:before { content: "\e611"; }
.ico-regist-tick:before { content: "\e603"; }
.ico-windspeed:before { content: "\e612"; }
.ico-square-four:before { content: "\e608"; }
.ico-weatherelse:before { content: "\e609"; }
.ico-sun:before { content: "\e60a"; }
.ico-smog:before { content: "\e60b"; }
.ico-snow:before { content: "\e60c"; }
.ico-yin:before { content: "\e60d"; }
.ico-rain:before { content: "\e60e"; }
.ico-startscore:before { content: "\e60f"; }
.ico-device:before { content: "\e615"; }
.ico-power:before { content: "\e616"; }
.ico-layout:before { content: "\e617"; }
