/*header����*/
.power-body-header{
    width: 100%;
    height: 50px;
    background: #ECECEC;
    padding: 15px 0 0 30px;
    border-bottom: 1px solid #CFCFCF;
}

.header-image-menu-wrapper{
    width: 30px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #fff;
    padding: 0px 3px;
    margin-top: -4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
    border-radius: 2px;
    margin-right: 18px;
}

.header-image-menu{
    background: url("../image/menu.png?__sprite") no-repeat;
    width: 24px;
    height: 24px;

}

.header-image-menu-wrapper:hover .header-image-menu{
    background-position-x: 100%;
}

.title-menu-click:hover{
    color: #137EFE;
}

.header-breadcrumbs-img{
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../image/breadcrumbs.png?__sprite") no-repeat;
    margin: -3px -4px 0 -4px;
}

/*������*/
.power-body-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    background: #ECECEC;
}

.power-body-content-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    bottom: 0;
    overflow-y: scroll;
    background: #FAFAFA;
    padding: 9px;
    overflow-x: hidden;
    box-shadow: -3px 0px 4px 0px rgba(0,0,0,0.08);
}

.power-body-content-left>div{
    width: 282px;
}

.power-body-content-right{
    position: absolute;
    right: 0;
    left: 300px;
    background: #ECECEC;
    bottom: 0;
    top: 0;
    overflow-y: scroll;
}

.left-title{
    height: 40px;
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #CFCFCF;
    font-size: 17px;
    padding-top: 3px;
}

.left-title img{
    position: absolute;
    right: 10px;
}

.hide {
    display: none;
}

.right-all {
    left: 0;
}

/*map*/
.label-map {
    display: inline-block;
    font-family: "Microsoft Yahei", "΢���ź�", Arial, STHeiti;
}

.label-text{
    height: 40px;
    background: #00BE71;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25), 0px 0px 1px 0px rgba(0,0,0,0.30);
    font-size: 15px;
    padding: 2px 5px;
    color: #444444;
    border-radius: 20px;
    position: relative;
}

.normal-circle-b{
    background: #00BE71;
}

.warn-circle-b{
    background: #FF1B37;
}



.label-circle{
    width: 40px;
    height: 49px;
    display: inline-block;
    margin-top: -2px;
    margin-left: -7px;
    position: relative;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}
.normal-circle-img{
    background: url("../image/normal-1.png?__sprite") no-repeat;
}

.warn-circle-img{
    background: url("../image/warn-1.png?__sprite") no-repeat;
}

.label-breadcrumbs{
    width: 24px;
    height: 24px;
    position: absolute;
    background: url("../image/breadcrumbs-2.png?__sprite") no-repeat;
    top: 8px;
    right: 6px;
}

.laberl-name-1{
    padding-right: 28px;
    color: #ffffff;
    padding-left: 5px;
}

/*svg*/
.power-scrollbar-hide{
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: 7px;
    width: 100%;
    visibility: visible;

}

.power-svg-wrapper:hover .power-scrollbar-hide{
    visibility: hidden;
}

/*mu line*/
.mu-v-line{
    stroke: #137EFE;
    stroke-width: 5px;
}

.mu-line-hover:hover .mu-line-name,
.mu-line-hover:focus .mu-line-name {
    fill: #0F66CD;
}

.mu-line-hover:hover .mu-v-line,
.mu-line-hover:focus .mu-v-line {
    stroke: #0F66CD;
}

.green-line {
    stroke: #00BE71;
    stroke-width: 3;
}

.red-line {
    stroke: #FF1B37;
    stroke-width: 3;
}

.mu-line-name{
    fill: #383838;
    font-size: 18px;
    /*font-family: Arial;*/
    font-weight: bold;
    /*cursor: pointer;*/
}

.mu-line-electric{
    fill: #888888;
    font-size: 12px;
    /*font-family: Arial;*/
}

.mu-switch{
    stroke-width: 2px;
    stroke: #CDCDCD;
}

.mu-fen-line-name{
    font-size: 18px;
    fill: #383838;
    writing-mode: tb;
    /*font-family: Arial;*/
}

.mu-warn-line-name{
    font-size: 15px;
    fill: #383838;
    writing-mode: tb;
    /*font-family: Arial;*/
}

.electric_A{
    font-size: 15px;
    fill: #FFBB1D;
    color: #FFBB1D;
    /*font-family: Arial;*/
}

.electric_B{
    font-size: 15px;
    fill: #00BE71;
    color: #00BE71;
    /*font-family: Arial;*/
}

.electric_C{
    font-size: 15px;
    fill: #FF1B37;
    color: #FF1B37;
    /*font-family: Arial;*/
}
.ghover {
    cursor: pointer;
}

.ghover:hover .green-line{
    stroke: #018952;
}

.ghover:hover .red-line{
    stroke: #BF1A2E;
}

.ghover:hover .mu-fen-line-name{
    fill: #018952;
}

.ghover:hover .mu-warn-line-name{
    fill: #BF1A2E;
}

/*.ghover:hover .mu-fen-line-name{*/
    /*fill: #00BE71;*/
/*}*/

/*.ghover:hover .mu-fen-line-name{*/
    /*fill: #00BE71;*/
/*}*/

.line-mu-fill{
    stroke: #F2F6F9;
    stroke-width: 60;
}

.mu-line-hover {
    cursor: pointer;
}

.line-fill{
    stroke: #F2F6F9;
    stroke-width: 60;
}


.node-circle-click {
    cursor: pointer;
}


.sanjiao{
    fill:#f00
}

.sanjiao-red{
    fill: #FF1B37;
}

#popup {
    position: absolute;
    background: #fff;
    padding: 11px 0 0 13px;
    background: rgba(255,255,255,0.95);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25), 0px 0px 1px 0px rgba(0,0,0,0.30);
    border-radius: 2px;
}

.popup-text-xiang{
    font-size: 12px;
    color: #B8B8B8;
    line-height: 17px;
}

.popup-text-title{
    font-size: 15px;
    color: #383838;
    margin-bottom: 5px;
}

.popup-warning{
    font-size: 12px;
    color: #383838;
}


/**/

/*node line*/
.node-mu-line-name{
    font-size: 18px;
    fill: #383838;
    writing-mode: tb;
    /*font-family: Arial;*/
    font-weight: bold;
}

.node-line-svg-v{
    stroke: #137EFE;
    stroke-width: 2
}

.node-line-svg-v1{
    stroke: #137EFE;
    stroke-width: 3
}

.sanjiao-line-node{
    fill:#ccc;
}

.sanjiao-line-node-red{
    fill: #FF1B37;
}

.node-red {
    fill: #FF1B37;
}

.node-red.hover-node-tip{
    fill: #BF1A2E;
}

/*.node-red.node-circle-click:hover,*/
/*.node-red.node-circle-click:focus{*/
    /*fill: #BF1A2E;*/
/*}*/


.node-green {
    fill: #00BE71;
}

.node-green.hover-node-tip{
    fill: #018952;
}

/*.node-green.node-circle-click:hover,*/
/*.node-green.node-circle-click:focus{*/
    /*fill: #018952;*/
/*}*/

.node-blue {
    fill: #137EFE;
}

.node-xuni{
    stroke: #979797;
    fill: #B8FFE2;
    stroke-width: 1;
    stroke-dasharray: 2,2;
}

.opacity-circle{
    opacity: 0.6;
}

.circle-wrapper-line{
    stroke: #fff;
    stroke-width: 32;
    opacity: 0;
}

.node-line-to{
    stroke: #CDCDCD;
    stroke-width: 1;
}

.node-line-to-red{
    stroke: #FF1B37;
    stroke-width: 1;
}

.node-ling-text1{
    text-anchor: middle;
    font-size: 12px;
    fill: #888888;
    /*font-family: Arial;*/
}

.node-ling-text2{
    text-anchor: middle;
    font-size: 12px;
    fill: #383838;
    /*font-family: Arial;*/
}

.node-ling-left{
    text-anchor: end;
    font-size: 12px;
    fill: #888888;
    /*font-family: Arial;*/
}

.node-ling-all{

}

.node-ling-green.hover-node-tip{
    fill: #018952;
}

.node-ling-red.hover-node-tip{
    fill: #BF1A2E;
}

.node-ling-text3{
    font-size: 12px;
    fill: #383838;
    /* font-family: Arial; */
}

.node-ling-text4{
    font-size: 12px;
    fill: #B8B8B8;
    /*font-family: Arial;*/
}

.node-ling-base{
    font-size: 12px;
    fill: #B8B8B8;
    writing-mode: tb;
}

.node-ling-text10{
    text-anchor: end;
}


.node-ling-text11{
    text-anchor: middle;
}

.node-ling-text12{
    text-anchor: start;
}

